################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Res
/OLD&UNUSED
/Docs
/Compiled/Debug
/.vs/GameFramework/v15
/d_Game.exe
